<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog cá nhân</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item" th:each="category : ${categories}">
                    <a class="nav-link" th:href="@{/blog/searchByCategory(categoryId=${category.id})}" th:text="${category.name}"></a>
                </li>
            </ul>
        </div>
    </nav>
    <button id="toggleFormButton" class="btn btn-primary mb-3">Thêm danh mục</button>

    <div id="addCategoryForm" style="display: none;">
        <form action="/category/add" method="post" th:object="${category}">
            <div class="form-group">
                <label for="categoryName">Tên danh mục:</label>
                <input type="text" id="categoryName" name="name" class="form-control" placeholder="Nhập tên danh mục">
            </div>
            <button type="submit" class="btn btn-success">Lưu</button>
            <button type="button" id="cancelButton" class="btn btn-secondary">Hủy</button>
        </form>
    </div>

    <button id="toggleDeleteFormButton" class="btn btn-danger mb-3">Xóa danh mục</button>

    <div id="deleteCategoryForm" style="display: none;">
        <form action="/category/delete" method="post">
            <div class="form-group">
                <label for="categoryId">Chọn danh mục để xóa:</label>
                <select id="categoryId" name="id" class="form-control">
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-danger">Xóa</button>
            <button type="button" id="cancelDeleteButton" class="btn btn-secondary">Hủy</button>
        </form>
    </div>

    <h1 class="mb-4">Blog cá nhân</h1>
    <a href="/blog/add" class="btn btn-primary mb-3">Thêm mới
