<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
      <html xmlns:th="http://www.thymeleaf.org" lang="en">
      <head>
      <meta charset="UTF-8">
      <title>Title</title>
</head>
<body>
<form action="save" method="post" th:object="${blog}">

  <input type="hidden" th:field="*{id}">
  Title:
  <br/>
  <input type="text" th:field="*{title}"><br>
  Content:
  <br/>
  <input type="text" th:field="*{content}"><br>
  <br/>
  <select name="categoryId" >
    <option th:each="category : ${categories}" th:value="${category.id}"  th:text="${category.name}" >
    </option>
  </select>
  <br/>
  <input type="submit" value="Save">
</form>
</body>
</html></title>
</head>
<body>

</body>
</html>